<h3>Comments</h3>
<% @post.comments.each do |comment| %>
    <div class="card flex-md-row mb-4 box-shadow">
        <div class="card-body d-flex flex-column align-items-start">
            <p><strong><%= comment.username %>:</strong> <%= comment.body%> </p>
            <%= link_to "Delete", [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?'}, class: 'text-danger' %>
        </div>
    </div>
<% end %>