<h4>Add Comment:</h4>
<%= form_for :comments, url: post_comments_path(@post) do |f| %>
    <p>
        <%= f.label :username, class: 'control-label' %><br>
        <%= f.text_field :username, class: 'form-control' %>
    </p>

    <p>
        <%= f.label :body, class: 'control-label' %>
        <%= f.text_area :body, class: 'form-control' %>
    </p>

    <p>
        <%= f.submit "Post Comment", class: 'btn btn-block btn-dark'  %>
    </p>
<% end %>