<% @posts.each do |post| %>
    <div class="row mb-2">
        <div class="col">
            <div class="card flex-md-row mb-4 box-shadow h-md-250">
                <div class="card-body d-flex flex-column align-items-start">
                    <h3 class="mb-0">
                    <a class="text-dark" href="<%= post_path(post) %>"><%= post.title %></a>
                    </h3>
                    <div class="mb-1 text-muted"><%= post.created_at.to_formatted_s(:long_ordinal) %></div>
                    <p class="card-text mb-auto">
                        <%= post.body %>
                    </p>
                    <%= link_to "Read More", post_path(post), class: 'btn btn-large btn-dark' %>
                </div>
            </div>
        </div>
    </div>
<% end %>