<p class="h2 lead">Add Post</p>
<hr>
<div class="row">
    <div class="col">
        <%= form_for :posts, url: posts_path do |f| %>
            <% if @post.errors.any? %>
                <% @post.errors.full_messages.each do |msg| %>
                    <div class="alert alert-danger"><%= msg %></div>
                <% end %>
            <% end %>    
            <p>
                <%= f.label :title, class: 'control-label' %><br>
                <%= f.text_field :title, class: 'form-control' %>
            </p>

            <p>
                <%= f.label :body, class: 'control-label' %><br>
                <%= f.text_area :body, class: 'form-control' %>
            </p>

            <p>
                <%= f.submit "Save Post", class: 'btn btn-block btn-dark' %>
            </p>
        <% end %>
    </div>
</div>