<div class="row mb-2">
    <div class="col">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h2><%= @post.title %></h2>
                <p><%= @post.body %></p>          
            </div>
        </div>
        <%= link_to "Edit Post", edit_post_path(@post), class: 'text-muted' %> | <%= link_to "Delete Post", post_path(@post), class: 'text-danger', data: {confirm: 'Are you sure?'}, method: :delete %>
    </div>
</div>
<hr>
<div class="row mb-2">
    <div class="col">
        <!-- Comments partial goes here -->
        <%= render 'comments/comments' %>
        <!-- Comments form goes here -->
        <%= render 'comments/comments-form' %>
    </div>
</div>