<!DOCTYPE html>
<html>
  <head>
    <title>Simple Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag     'https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'https://use.fontawesome.com/releases/v5.0.8/js/all.js' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
        <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
          <div class="col-4 pt-1">
            <a class="text-muted" href="#">Subscribe</a>
          </div>
          <div class="col-4 text-center">
            <a class="blog-header-logo text-dark" href="<%= home_path %>">Simple Blog</a>
          </div>
          <div class="col-4 d-flex justify-content-end align-items-center">
            <a class="text-muted" href="#"><i class="fas fa-search mr-3"></i></a>
            <a class="btn btn-sm btn-outline-secondary" href="<%= new_post_path %>"> <i class="fas fa-pencil-alt"></i> Write</a>
          </div>
        </div>
      </header>

      <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-center">
            <p class="text-muted">
                Keeping it sleek and simple
            </p>
        </nav>
      </div>
      <main class="container">
            <%= yield %>
      </main>
    </div>
  </body>
</html>
